################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ST.Core/obj/Debug
/ST.iOS/bin/iPhoneSimulator/Debug
/ST.iOS/obj
